// Override default variables before the import

$diamond: #BAE5F9 !default;
$copper: #C56C39 !default;
$coffee: #6F4930 !default;
$green: #56903A !default;
$black-leather: #213A1B !default;


$theme-colors: (
  // "primary": #0000ff,
  // "danger": #ff4136

  "primary": $copper,
  "secondary": $coffee
);

body {
  background-color: rgb(205, 148, 111) !important;
  // background-color: $green !important;
}

// Navigation
.navbar-brand .logo {
  height: 50px;
}
.logo-path {
  fill: white;
} 

// Spinner
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Main Page
.main-page {
  padding: 1rem;
}

// Welcome
.welcome {
  padding: 2rem !important;
  background-color: $diamond;
  border-radius: .5em;
}
.welcome .jumbotron {
  background-color: $diamond;
}
.welcome p, .welcome .btn {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

//Event
.event-heading {
  margin-bottom: .25rem;
}
.event-heading:last-child {
  margin-bottom: 1rem;
}
.event-heading span {
  font-size: 1rem;
  font-weight: bold;
}
// .card-text {
//   margin-top: 1.5rem;
// }

// Park
// .park .card-header {
//   // background: $coffee;
// }
.park.card .card-header .btn {
  text-align: left;
}

// Event form
.new-event {
  // border: .2em solid #ced4da;
  border: .2em solid $copper;
  border-radius: .5em;
  padding: 1em;
  margin-bottom: 1em;
}
form label {
  font-weight: bold;
}


// Date Time Picker
.react-datetime-picker__wrapper {
  border: none;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';